<a href="https://colab.research.google.com/github/2303a51455/DATA-MINING/blob/main/LAB_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [17]:
#example data
data = {'category':['A','B','C','A','B']}
df=pd.DataFrame(data)
print(df)

  category
0        A
1        B
2        C
3        A
4        B

In [18]:
#label Encoding
label_encoder=LabelEncoder()
df['Label_Encoded']=label_encoder.fit_transform(df['category'])
print(df)

  category  Label_Encoded
0        A              0
1        B              1
2        C              2
3        A              0
4        B              1

In [19]:
#one-hot encoding
one_hot_encoder = pd.get_dummies(df['category'], prefix='category')
df = pd.concat([df, one_hot_encoder], axis=1)
print(df)

  category  Label_Encoded  category_A  category_B  category_C
0        A              0        True       False       False
1        B              1       False        True       False
2        C              2       False       False        True
3        A              0        True       False       False
4        B              1       False        True       False

In [26]:
from datetime import datetime
# example data
data = {'Name':['Sanjana','Aashritha','Sanjay'], 'Date_of_Birth':['2005-04-11','2006-03-10','2009-10-11']}
df = pd.DataFrame(data)
print(df)

        Name Date_of_Birth
0    Sanjana    2005-04-11
1  Aashritha    2006-03-10
2     Sanjay    2009-10-11

In [28]:
#convert date_of_birth to dateline
df['Date_of_Birth'] = pd. to_datetime(df['Date_of_Birth'])
print(df)

        Name Date_of_Birth
0    Sanjana    2005-04-11
1  Aashritha    2006-03-10
2     Sanjay    2009-10-11

In [29]:
#current age
current_year = datetime.now().year
df['age'] = current_year- df['Date_of_Birth'].dt.year
print(df)

        Name Date_of_Birth  age
0    Sanjana    2005-04-11   20
1  Aashritha    2006-03-10   19
2     Sanjay    2009-10-11   16

In [31]:
#example data
data = {'Category':['A','A','B','B','C'],'Value':[10,20,10,30,40]}
df = pd.DataFrame(data)
print(df)

  Category  Value
0        A     10
1        A     20
2        B     10
3        B     30
4        C     40

In [34]:
# Group by and aggregate
grouped = df.groupby('Category').agg({'Value':['sum','mean']})
print("Grouped Data.\n",grouped)

Grouped Data.
          Value
           sum  mean
Category
A           30  15.0
B           40  20.0
C           40  40.0

In [36]:
#pivot table
pivot = df.pivot_table(index='Category',values='Value',aggfunc=['sum','mean'])
print("\n pivot Table:\n",pivot)

 pivot Table:
            sum  mean
         Value Value
Category
A           30  15.0
B           40  20.0
C           40  40.0